body {
  padding: 0px;
  margin: 0px;
  background-color: grey;
}
.container {
  width: 650px;
  background-color: aliceblue;
  height: 800px;
  position: absolute;
  top: 30px;
  left: 550px;
  border-radius: 20px;
}
#display {
  width: 500px;
  height: 50px;
  position: absolute;
  top: 20px;
  left: 70px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: end;
  background-color: aliceblue;
  color: black;
  font-weight: bold;
  font-size: larger;
}
input::placeholder {
  color: black;
  font-weight: bold;
  color: white;
  text-align: center;
}
hr {
  position: relative;
  top: 120px;
  background-color: black;
  width: 640px;
  height: 2px;
}
.buttons {
  display: flex;
  flex-direction: column;
}
.linear {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  margin: 20px;
  padding: 10px;
  top: 135px;
}
button {
  padding: 10px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
  width: 100px;
  height: 60px;
  border-radius: 20px;
  box-shadow: 2px 2px 3px antiquewhite;
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: bold;
  font-size: larger;
  text-align: center;
}
button:hover {
  background-color: rgba(243, 241, 241, 0.137);
  color: black;
}
